<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Seriály</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Hledat seriály..."
      (ionInput)="onSearchInput($event)"
      (ionCancel)="onSearchCancel()"
      showCancelButton="focus"
    ></ion-searchbar>
  </ion-toolbar>
  
  <!-- Kategorie -->
  <ion-toolbar>
    <ion-segment 
      [value]="selectedCategory" 
      (ionChange)="onCategoryChange($event)"
    >
      <ion-segment-button value="popular">
        <ion-label class="segment-button">Populární</ion-label>
      </ion-segment-button>
      <ion-segment-button value="on_the_air">
        <ion-label class="segment-button">Vysílané</ion-label>
      </ion-segment-button>
      <ion-segment-button value="top_rated">
        <ion-label class="segment-button">Nejlepší</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Seriály</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- STAV 1 - vyhledávání -->
  <!-- Výsledky vyhledávání -->
  @if (showSearch) {
    @if (isSearching) {
      <div class="loading">
        <ion-spinner></ion-spinner>
        <p>Vyhledávám...</p>
      </div>
    } @else if (searchResults.length > 0) {
      <h1>Výsledky vyhledávání...</h1>
      <div class="series-grid">
        @for (series of searchResults; track series.id) {
          <!-- 1 Karta -->
          <div class="series-card" (click)="openDetail(series.id)">
            <!-- Poster -->
            <img [src]="getPosterUrl(series.poster_path)" [alt]="series.name">
            <!-- Info o filmu -->
            <div class="series-info">
              <h3>{{ series.name }}</h3>
              <div class="series-meta">
              <span class="year">{{ series.first_air_date | date:'yyyy' }}</span>
              <!-- Rating kruh -->
              <div class="rating-circle">
                <svg viewBox="0 0 36 36">
                  <circle class="rating-bg" cx="18" cy="18" r="16"></circle>
                  <circle 
                    class="rating-progress" 
                    cx="18" 
                    cy="18" 
                    r="16"
                    [attr.stroke]="getRatingColor(series.vote_average)"
                    [attr.stroke-dasharray]="getRatingDashArray(series.vote_average)"
                  ></circle>
                </svg>
                <span class="rating-text">{{ getRatingPercent(series.vote_average) }}</span>
              </div>
            </div>
          </div>
          </div>
        }
      </div>
    } @else {
      <div class="no-results">
        <p>Žádné výsledky</p>
      </div>
    }
  }

<!-- STAV 2 - načítání seriálů -->
  @if (!showSearch) {
    @if (isLoading) {
      <div class="loading">
        <ion-spinner></ion-spinner>
        <p>Načítám seriály...</p>
      </div>
    } 
    <!-- STAV 3 - výpis seriálů -->
    @else {
      <h1>
      @switch (selectedCategory) {
        @case ('top_rated') { Nejlépe hodnocené }
        @case ('on_the_air') { Aktuálně vysílané }
        @default { Populární seriály }
      }
    </h1>
      <div class="series-grid">
        @for (series of series; track series.id) {
          <!-- 1 Karta -->
          <div class="series-card" (click)="openDetail(series.id)">
            <!-- Poster -->
            <img [src]="getPosterUrl(series.poster_path)" [alt]="series.name">
            <!-- Info o filmu -->
            <div class="series-info">
              <h3>{{ series.name }}</h3>
              <div class="series-meta">
              <span class="year">{{ series.first_air_date| date:'yyyy' }}</span>
              <!-- Rating kruh -->
              <div class="rating-circle">
                <svg viewBox="0 0 36 36">
                  <circle class="rating-bg" cx="18" cy="18" r="16"></circle>
                  <circle 
                    class="rating-progress" 
                    cx="18" 
                    cy="18" 
                    r="16"
                    [attr.stroke]="getRatingColor(series.vote_average)"
                    [attr.stroke-dasharray]="getRatingDashArray(series.vote_average)"
                  ></circle>
                </svg>
                <span class="rating-text">{{ getRatingPercent(series.vote_average) }}</span>
              </div>
            </div>
            </div>
          </div>
        }
      </div>
    }
  }

  <!-- Infinite Scroll -->
  @if (!showSearch && !isLoading) {
    <ion-infinite-scroll (ionInfinite)="loadMoreSeries($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Načítám další seriály..."
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  }
</ion-content>