// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #67986b;
	--ion-color-primary-rgb: 103,152,107;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #5b865e;
	--ion-color-primary-tint: #76a27a;

	--ion-color-secondary: #acc8c3;
	--ion-color-secondary-rgb: 172,200,195;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #97b0ac;
	--ion-color-secondary-tint: #b4cec9;

	--ion-color-tertiary: #8baeb1;
	--ion-color-tertiary-rgb: 139,174,177;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #7a999c;
	--ion-color-tertiary-tint: #97b6b9;

	--ion-color-success: #7fd295;
	--ion-color-success-rgb: 127,210,149;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #70b983;
	--ion-color-success-tint: #8cd7a0;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f9f6;
	--ion-color-light-rgb: 246,249,246;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dbd8;
	--ion-color-light-tint: #f7faf7;

	--ion-color-medium: #636363;
	--ion-color-medium-rgb: 99,99,99;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #575757;
	--ion-color-medium-tint: #737373;

	--ion-color-dark: #060906;
	--ion-color-dark-rgb: 6,9,6;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #050805;
	--ion-color-dark-tint: #1f221f;

}

/* TMAVÝ REŽIM */
.ion-palette-dark {
  --ion-color-primary: #67986b;
	--ion-color-primary-rgb: 103,152,107;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #5b865e;
	--ion-color-primary-tint: #76a27a;

	--ion-color-secondary: #37534e;
	--ion-color-secondary-rgb: 55,83,78;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #304945;
	--ion-color-secondary-tint: #4b6460;

	--ion-color-tertiary: #4e7174;
	--ion-color-tertiary-rgb: 78,113,116;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #456366;
	--ion-color-tertiary-tint: #607f82;

	--ion-color-success: #7fd295;
	--ion-color-success-rgb: 127,210,149;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #70b983;
	--ion-color-success-tint: #8cd7a0;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f9f6;
	--ion-color-light-rgb: 246,249,246;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dbd8;
	--ion-color-light-tint: #f7faf7;

	--ion-color-medium: #636363;
	--ion-color-medium-rgb: 99,99,99;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #575757;
	--ion-color-medium-tint: #737373;

	--ion-color-dark: #060906;
	--ion-color-dark-rgb: 6,9,6;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #050805;
	--ion-color-dark-tint: #1f221f;
}