.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 16px;
}

.segment-button{
  font-size: 12px;
  font-weight: 600;

  @media (min-width: 768px) {
    font-size: 14px;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

h1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 16px 12px 8px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 25px;
  }
  @media (min-width: 1024px) {
    font-size: 30px;
  }
}

.movies-grid {
  display: grid;
  gap: 12px;
  padding: 12px;
  grid-template-columns: repeat(3, 1fr);
  
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
  
  @media (min-width: 1024px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.movie-card {
  background: var(--ion-card-background);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.2s;

  &:active {
    transform: scale(0.98);
  }

  img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    object-position: center top;
    flex-shrink: 0;
  }

  .movie-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 6px;
  }

  h3 {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    line-height: 1.3;
    
    // Max 2 řádky
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 2.6em; // 2 řádky * 1.3 line-height

    @media (min-width: 768px) {
      font-size: 14px;
    }
    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }

  .movie-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .year {
    font-size: 10px;
    color: var(--ion-color-medium);

    @media (min-width: 768px) {
      font-size: 12px;
    }
    @media (min-width: 1024px) {
      font-size: 14px;
    }
  }

  .rating-circle {
    position: relative;
    width: 30px;
    height: 30px;
    flex-shrink: 0;

     @media (min-width: 768px) {
      width: 35px;
      height: 35px;
    }
    @media (min-width: 1024px) {
      width: 40px;
      height: 40px;
    }

    svg {
      transform: rotate(-90deg);
      width: 100%;
      height: 100%;
    }

    .rating-bg {
      fill: none;
      stroke: var(--ion-color-step-150);
      stroke-width: 3;
    }

    .rating-progress {
      fill: none;
      stroke-width: 3;
      stroke-linecap: round;
      transition: stroke-dashoffset 0.3s ease;
    }

    .rating-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 9px;
      font-weight: 600;

      @media (min-width: 768px) {
        font-size: 10px;
      }
      @media (min-width: 1024px) {
        font-size: 11px;
    }
  }
}
}