<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Filmy</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Hledat filmy..."
      (ionInput)="onSearchInput($event)"
      (ionCancel)="onSearchCancel()"
      showCancelButton="focus"
></ion-searchbar>
  </ion-toolbar>

  <!-- Kategorie -->
  <ion-toolbar>
    <ion-segment 
      [value]="selectedCategory" 
      (ionChange)="onCategoryChange($event)"
      >
      <ion-segment-button value="popular">
        <ion-label>Populární</ion-label>
      </ion-segment-button>
      <ion-segment-button value="upcoming">
        <ion-label>Již brzy</ion-label>
      </ion-segment-button>
      <ion-segment-button value="top_rated">
        <ion-label>Nejlépe hodnocené</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Filmy</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- STAV 1 - vyhledávání -->
  <!-- Výsledky vyhledávání -->
  @if (showSearch) {
    @if (isSearching) {
      <div class="loading">
        <ion-spinner></ion-spinner>
        <p>Vyhledávám...</p>
      </div>
    } @else if (searchResults.length > 0) {
      <h1>Výsledky vyhledávání...</h1>
      <div class="movies-grid">
        @for (movie of searchResults; track movie.id) {
           <!-- 1 Karta -->
          <div class="movie-card" (click)="openDetail(movie.id)">
            <!-- Poster -->
            <img [src]="getPosterUrl(movie.poster_path)" [alt]="movie.title">
            <!-- Info o filmu -->
            <div class="movie-info">
              <h3>{{ movie.title }}</h3>
              <div class="movie-meta">
                <span class="year">{{ movie.release_date | date:'yyyy' }}</span>
                <!-- Rating kruh -->
                <div class="rating-circle">
                  <svg viewBox="0 0 36 36">
                    <circle class="rating-bg" cx="18" cy="18" r="16"></circle>
                    <circle class="rating-progress" cx="18" cy="18" r="16"
                      [attr.stroke]="getRatingColor(movie.vote_average)"
                      [attr.stroke-dasharray]="getRatingDashArray(movie.vote_average)"
                    ></circle>
                  </svg>
                  <span class="rating-text">{{ getRatingPercent(movie.vote_average) }}</span>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="no-results">
        <p>Žádné výsledky</p>
      </div>
    }
  }
<!-- STAV 2 - načítání filmů -->
@if (!showSearch) {
  @if(isLoading){
    <div class="loading">
      <ion-spinner></ion-spinner>
      <p>Načítám filmy...</p>
    </div>
  } 
    <!-- STAV 3 - výpis filmů -->
  @else{
    <h1>
      @switch (selectedCategory) {
        @case ('top_rated') { Nejlépe hodnocené }
        @case ('upcoming') { Již brzy }
        @default { Populární filmy }
      }
    </h1>
    <div class="movies-grid">
      @for (movie of movies; track movie.id){
         <!-- 1 Karta -->
        <div class="movie-card" (click)="openDetail(movie.id)">
          <!-- Poster -->
          <img [src]="getPosterUrl(movie.poster_path)" [alt]="movie.title">
          <!-- Info o filmu -->
          <div class="movie-info">
            <h3>{{ movie.title }}</h3>
            <div class="movie-meta">
              <span class="year">
                @if (selectedCategory === 'upcoming') {
                  {{ movie.release_date | date:'d. M. yyyy' }}
                } @else {
                  {{ movie.release_date | date:'yyyy' }}
                }
              </span>
              <!-- Rating kruh -->
              <div class="rating-circle">
                <svg viewBox="0 0 36 36">
                  <circle class="rating-bg" cx="18" cy="18" r="16"></circle>
                  <circle 
                    class="rating-progress" 
                    cx="18" 
                    cy="18" 
                    r="16"
                    [attr.stroke]="getRatingColor(movie.vote_average)"
                    [attr.stroke-dasharray]="getRatingDashArray(movie.vote_average)"
                  ></circle>
                </svg>
                <span class="rating-text">{{ getRatingPercent(movie.vote_average) }}</span>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
}

<!-- Infinite Scroll -->
  @if (!showSearch && !isLoading) {
    <ion-infinite-scroll (ionInfinite)="loadMoreMovies($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Načítám další filmy..."
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  }
</ion-content>