<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Filmy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Filmy</ion-title>
    </ion-toolbar>
  </ion-header>

  @if(isLoading){
    <div class="loading">
      <ion-spinner></ion-spinner>
      <p>Načítám filmy...</p>
    </div>
  } @else{
    <h1>Populární filmy</h1>
    <div class="movies-grid">
      @for (movie of movies; track movie.id){
        <div class="movie-card" (click)="openDetail(movie.id)">
          <img [src]="getPosterUrl(movie.poster_path)" [alt]="movie.title">
          <div class="movie-info">
            <h3>{{ movie.title }}</h3>
            <p>{{ movie.release_date | date:'yyyy' }}</p>
            <p>{{ getRatingPercent(movie.vote_average) }} %</p>
          </div>
        </div>
      }
    </div>
  }
</ion-content>